<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Smart Key</title>
</head>
<body>
  <form action="/open" method="POST">
     <button>Open</button>
   </form>
  <form action="/close" method="POST">
     <button>Close</button>
   </form>
  <div id="output"><p></p></div>
</body>
</html>
